.side-menu{
width: 38vh;
height: 100vh;
background-color: #18c78b;
font-size: 20px;
padding-top: 100px;
padding: 60px 40px;
position: fixed;
color: #fff;
}


ul li{
    list-style: none;
    margin-top: 16px;
}
.menu-icon{
    display: none;
}

@media (max-width: 840px){
 .side-menu{
    width: 30vh;
    left: -200px;
 }
 .side-menu ul li{
    transition: 0.5s;
 }
 .menu-icon{
  display: block;
  width: 30px;
  cursor: pointer;
}

.hide-mobile-menu{
    right: -200px;
  }
}
